* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header img {
  width: 60px;
  /* height: 48px; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(203, 203, 203);
  padding: 1rem;
  padding-inline: 40px;
}

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

section h2 {
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  grid-gap: 2rem;
}

.nav-List a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product img {
  width: 100%;
}
